<%= render 'new_document_header' %>
<div class="tab-content">
  <%= render 'upload_form_pdf' %>
  <div class="row">
    <div class="col-md-12">
      <%= simple_form_for @document, html: {class: "form-horizontal"},
                                     wrapper: :horizontal_form,
                                     wrapper_mappings: {
                                     check_boxes: :horizontal_radio_and_checkboxes,
                                     radio_buttons: :horizontal_radio_and_checkboxes },
                                     defaults: {required: true},
                                     error_html: {class: "help-block"} do |f| %>
        <%= f.input :course_id, collection: Course.all.map {|c| [c.full_formula, c.id]}, prompt: "إختر المساق", input_html: {"data-select2-validate" => true}, hint: "المساق المتعلق بالملف. مثال: math101" %>
        <%= f.simple_fields_for :examform do |builder| %>
          <%= builder.input :examtype_id,
                      collection: Examtype.all.map {|examtype| [[t("activerecord.attributes.examtype.examtype.#{examtype.examtype}")].join(''), examtype.id]},
                      as: :radio_buttons,
                      include_hidden: false,
                      item_label_class: "btn btn-default",
                      label_method: :first,
                      value_method: :last,
                      hint: 'اختر نوع الإمتحان' %>
          <%= builder.input :fall_id,
                      collection: Fall.all.map {|fall| ["#{fall.fall}", fall.id]},
                      as: :select,
                      include_hidden: false,
                      item_label_class: "btn btn-default",
                      label_method: :first,
                      value_method: :last,
                      hint: "اختر سنة الملف",
                      prompt: 'أختر سنة الملف' %>
          <%= builder.input :semester_id,
                      collection: Semester.all.map {|semester| [[t("activerecord.attributes.semester.semester.#{semester.semester}")].join(''), semester.id]},
                      as: :radio_buttons,
                      include_hidden: false,
                      item_label_class: "btn btn-default",
                      label_method: :first,
                      value_method: :last,
                      hint: 'اختر الفصل الدراسي' %>
        <% end %>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.hidden_field :attachment_id, value: "" %>
            <%= f.hidden_field :element_type, value: "examform" %>
            <%= f.submit class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>