<h2>تسجيل الدخول</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: "form"}) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "تسجيل الدخول", class: "btn btn-default" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
