<% if @attachment.errors.any? %>
	$('.upload-form-group').removeClass('has-success')
	$('.upload-form-group').addClass('has-error')
	$('.upload-form-group').find('.help-block').html('<%= escape_javascript @attachment.errors.full_messages.first %>')
	$('.progress-bar').addClass('progress-bar-danger').removeClass('active')	
<% else %>
	$('.preview-file').html('<img src="<%= escape_javascript(@attachment.file.cover_thumb.url) %>" alt="<%= escape_javascript(@attachment.file_identifier) %>" class="img-thumbnail" />')
	$('.preview-file').prepend('<div class="alert alert-success"><a href="#" title="close" data-dimiss="alrt" aria-label="close" class="close">×</a><strong>تم رفع الملف بنجاح! </strong>في حال رغبت بتغّير الملف ما عليك سوى الضغط على زر اختر ملف مرة اخرى.</div>')
	$('#document_attachment_id').val('<%= @attachment.id %>')
	$('.progress-bar').addClass('progress-bar-success').removeClass('active')
	$('.upload-form-group').removeClass('has-error')
	$('.upload-form-group').find('.help-block').html('تم رفع الملف')
	$('.upload-form-group').addClass('has-success')
<% end %>