<div class="row">
	<div class="col-md-12 text-center">
		<%= image_tag @document.attachment.file.cover, class: "document-model-thumb", width: '100%' %>
	</div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
  <ul class="list-group">
    <li class="list-group-item active text-center"><h4>تفاصيل الملف</h4></li>
    <% if @document.element_type == 'notebook' %>
      <li class="list-group-item">نوع الإمتحان: <%= @document.element.examtypes.map {|type| t "activerecord.attributes.examtype.examtype.#{type}"}.join('، ') %></li>
      <li class="list-group-item">الفصل الدراسي: <%= t "activerecord.attributes.semester.semester.#{@document.element.semester.semester}" %></li>
      <li class="list-group-item">اسم الطالب: <%= @document.element.student_name %></li>
      <li class="list-group-item">اسم المدرس:<%= @document.element.teacher_name %></li>
    <% elsif @document.element_type == 'examform' %>
      <li class="list-group-item">نوع الإمتحان: <%= t "activerecord.attributes.examtype.examtype.#{@document.element.examtype.examtype}" %></li>
      <li class="list-group-item">الفصل الدراسي: <%= t "activerecord.attributes.semester.semester.#{@document.element.semester.semester}" %></li>
      <li class="list-group-item">سنة المحتوى: <%= t "activerecord.attributes.fall.fall.#{@document.element.fall.fall}" %></li>
    <% elsif @document.element_type == 'book' %>
      <li class="list-group-item">العنوان: <%= @document.element.title %></li>
    <% elsif @document.element_type == 'summary' %>
      <li class="list-group-item">نوع الإمتحان: <%= @document.element.examtypes.map {|type| t "activerecord.attributes.examtype.examtype.#{type}"}.join('، ') %></li>
      <li class="list-group-item">اسم الطالب: <%= @document.element.student_name %></li>
      <li class="list-group-item">تفاصيل اضافية: <%= @document.element.description %></li>
    <% end %>
      <li class="list-group-item">بواسطة: <%= @document.user.full_name %></li>
      <% if current_user != nil %>
        <% if current_user.owner?(@document) || current_user.admin? %>
          <li class="list-group-item">عدد التحميلات: <%= @document.download_count %></li>
        <% end %>
      <% end %>
          <li class="list-group-item">
          رابط مختصر: 
          <div class="input-group">
            <input type="text" class="form-control ltr" onClick="this.select();" aria-describedby="sizing-addon2" value="<%= document_short_link_url(@document) %>">
            <span class="input-group-addon" id="sizing-addon2"><%= fa_icon 'share-alt' %></span>
          </div>
      </li>
  </ul>
  </div>
  <div class="col-md-12 text-center">
    <%= link_to download_document_path(@document), class: 'btn btn-success btn-lg', target: '_blank' do
      %>
      <span><%= fa_icon 'download' %> تحميل</span>
    <% end %>
  </div>
</div>