<% if document.element_type == 'examform' %>
  <tr id="document-<%= "#{document.id}" %>">
    <td><%= image_tag document.attachment.file.cover_thumb, width: '50' %></td>
    <td><%= t "activerecord.attributes.examtype.examtype.#{document.element.examtype.examtype}" %></td>
    <td><%= t "activerecord.attributes.semester.semester.#{document.element.semester.semester}" %></td>
    <td><%= document.element.fall.fall %></td>
    <td>
      <%= link_to "تحميل/عرض", "#", class: "btn btn-info", data: {toggle: "modal", target: "#showDocumentInfo", id: "#{document.id}"}, id: "showDocument" %>
    </td>
  </tr>
<% elsif document.element_type == 'notebook' %>
    <tr id="document-<%= "#{document.id}" %>">
    <td><%= image_tag document.attachment.file.cover_thumb, width: '50' %></td>
    <td><%= document.element.examtypes.map {|type| t "activerecord.attributes.examtype.examtype.#{type}"}.join('، ') %></td>
    <td><%= t "activerecord.attributes.semester.semester.#{document.element.semester.semester}" %></td>
    <td><%= document.element.student_name %></td>
    <td><%= document.element.teacher_name %></td>
    <td>
      <%= link_to "تحميل/عرض", "#", class: "btn btn-info", data: {toggle: "modal", target: "#showDocumentInfo", id: "#{document.id}"}, id: "showDocument" %>
    </td>
  </tr>
<% elsif document.element_type == 'summary' %>
    <tr id="document-<%= "#{document.id}" %>">
    <td><%= image_tag document.attachment.file.cover_thumb, width: '50' %></td>
    <td><%= document.element.examtypes.map {|type| t "activerecord.attributes.examtype.examtype.#{type}"}.join('، ') %></td>
    <td><%= document.element.student_name %></td>
    <td>
      <%= link_to "تحميل/عرض", "#", class: "btn btn-info", data: {toggle: "modal", target: "#showDocumentInfo", id: "#{document.id}"}, id: "showDocument" %>
    </td>
  </tr>
<% elsif document.element_type == 'book' %>
    <tr id="document-<%= "#{document.id}" %>">
    <td><%= image_tag document.attachment.file.cover_thumb, width: '50' %></td>
    <td><%= document.element.title %></td>
    <td>
      <%= link_to "تحميل/عرض", "#", class: "btn btn-info", data: {toggle: "modal", target: "#showDocumentInfo", id: "#{document.id}"}, id: "showDocument" %>
    </td>
  </tr>
<% end %>