<thead>
<% if params[:element_type] == 'examform'%>
  <tr>
    <th>صورة مصغرة</th>
    <th>نوع الامتحان</th>
    <th>الفصل الدراسي</th>
    <th>سنة المحتوى</th>
    <th>تفاصيل</th>
  </tr>
<% elsif params[:element_type] == 'notebook' %>
  <tr>
    <th>صورة مصغرة</th>
    <th>نوع الامتحان</th>
    <th>الفصل الدراسي</th>
    <th>اسم الطالب</th>
    <th>اسم المدرس</th>
    <th>تفاصيل</th>
  </tr>
<% elsif params[:element_type] == 'summary' %>
  <tr>
    <th>صورة مصغرة</th>
    <th>نوع الامتحان</th>
    <th>اسم الطالب</th>
    <th>تفاصيل</th>
  </tr>
<% elsif params[:element_type] == 'book' %>
  <tr>
    <th>صورة مصغرة</th>
    <th>عنوان الكتاب</th>
    <th>تفاصيل</th>
  </tr>
<% end %>
</thead>
<tbody>
</tbody>