<div class="search-jumbotron jumbotron clear">
  <div class="home-container">
    <div class="row">
        <div class="col-md-12">
          <%= image_tag 'logo.png', class: 'img-responsive center-block' %>
        </div>
        <div class="col-md-12 text-center">
          <h3 class="enter-course-text">ادخل اسم المساق او جزء منه</h3>
          <div class="search-box">
            <%= fa_icon 'search 3x', class: 'search-icon' %>
            <input class="ltr" id="courseSearch" type="text" placeholder="SE201, Software Modeling">
          </div>
        </div>
      </div>
  </div>
  <div class="credit">
    <span>برمجة وتصميم <a href="http://fb.com/anasjbers">أنس تّمام</a></span> |
    <span>الشعار مقدم من <a href="http://fb.com/moha619">محمد حموري</a></span>
  </div>
</div>
