<div class="row">
  <div class="col-md-12 search-jumbotron">
    <%= image_tag 'error-logo.png', class: 'img-responsive center-block' %>
    <h1 class="text-center">عذراً حدث خطأ هذا محرج حقاً!. قم بالمحاولة مرة اخرى بغضون دقائق</h1>
  </div>
</div>