<div class="row">
  <div class="col-md-12 text-center search-jumbotron">
    <%= image_tag 'error-logo.png', class: 'responsive-image', 'max-width': '600px' %>
    <h1>عذراً لصفحة التي تبحث عنها غير متوفرة أو قد تم حذفها</h1>
    <h2><%= link_to 'الصفحة الرئيسية', root_path %></h2>
  </div>
</div>