<%= title "#{params[:course_id]|| params[:id]}".upcase %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info">
        <p class="text-center">يحتوي مساق <strong><%= @course.symbol %></strong> على <strong><%= @course.documents_count %></strong> ملف</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-xs-12 col-sm-3 sidebar">
        <ul class="nav nav-sidebar">
            <% type_list.each do |name, value|
              %>
              <li class="dropdown">
                <%= link_to get_course_document_type_path(@course.slug, value), data: {toggle: "tab", target: value} do
                  %>
                    <%= name %>
                    <span class="badge pull-left"><%= document_type_count(value) %></span>
                <% end %>
              </li >
            <% end %>
        </ul>
    </div>
    <div class="col-xs-12 col-md-9 col-sm-9 table-col-content">
      <table class="table table-hover" id="documents-table">
        <thead>
          <tr>
            <th>صورة مصغرة</th>
            <th>نوع الامتحان</th>
            <th>الفصل الدراسي</th>
            <th>سنة المحتوى</th>
            <th>عرض</th>
          </tr>
        </thead>
          <%= render(@documents) %>
      </table>
        <div class="table-loader"><div class="fa fa-spinner fa-spin fa-10x"></div></div>
        <div class="loadmore-loader"><div class="fa fa-spinner fa-spin fa-2x"></div></div>
      <hr>
      <%= content_tag :div, class: 'row' do
        %>
        <%= content_tag :div, id: 'load-more', class: 'text-center' do
          %>
          <%= hidden_field_tag :course, "#{params[:id]}" %>
          <%= hidden_field_tag :element_type, 'examform' %>
          <input type="button" id="loadmore-btn" value="المزيد..." class="btn btn-default ">
        <% end %>
      <% end %>
    </div>
  </div>
  <%= render 'showDocumentModal' %>