<h2>نسيت كلمة المرور؟</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "ارسل لي ارشادات اعادة تعيين كلمة المرور", class: "btn btn-default" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
