@import "select2";
@import "select2-bootstrap";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
body, html {
  height:100%;
}
form {
}
h1, h2, h3, h4, h5, h6, li {
  font-family: 'Droid Arabic Kufi', sans-serif;
}
ul .active {
  background: #EEEEEE;
}
.inline-block {
    display: inline-block;
}
.help-block {
    display: inline;
}
.col-md-10.upload-document input {
	display:none;
}
#teacher_name {
	display:none;
}
input[type="file"] {
    display: none;
}
.table > tbody > tr > td {
     vertical-align: middle;
}
div.table-loader > .fa-spinner {
    color:#B8B8B8;
}
.loadmore-loader {
    text-align: center;
    display: none;
}
.table-loader {
    text-align: center;
    display: none;
    margin-top: 25px
}
.fa-10x {
    font-size: 100pt;
}
.fa-9x {
    font-size: 90pt;
}
.upload .progress {
    margin-bottom:0;
}
.preview-file {
}
.preview-file img {
  width: 150px;
  height: auto;
}
.navbar-brand>img {
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
   /* probably not needed anymore, but doesn't hurt */
   -o-object-fit: contain;
   object-fit: contain; 
}
.navbar {
  margin-bottom: 0px !important;
}
.center {
  margin: 0 auto;
  display: block;
}
.document-model-thumb {
  height:auto;
  max-width:400px;
}
.tab-content {
  margin-top:20px;
}
.select2-container-bigger {
    min-height:200px !important;
    padding-bottom: 20px;
}
.types-menu {
  position: static;
  float: none !important;
  width: auto;
  margin-top: 0;
  background-color: #fff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ltr {
  direction: ltr !important;
}
.home-bg {
  background: #DFDFDF;
}
.search-icon {
  position: absolute;
  right: 15px;
  top:10px;
  color: gray;
}
.search-box {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 999999;
}
#courseSearch {
  width:100%;
  padding: 0 -5px;
  margin:0 auto;
  display: block;
  padding:20px 60px 20px 20px;
  color: gray;
  font-size:14pt;
  border-radius: 7px;
  border:1px solid #DADADA;
}
.search-jumbotron {
  background-image: asset-url('header.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 0!important;
  width:100% !important;
  height:100%;
  position: relative;
}
.jumbotron {
  margin-bottom:0;
}
.home-container {
  max-width:720px;
  text-align: center;
  margin:auto;
  position: absolute;
  top:25%;
  left:0;
  right:0;
  bottom: 0;
  padding: 0 20px;
}
.credit {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: #D6D6D6;
}
.credit span {
  color: #fff;
  font-size:14pt;
  text-shadow: 1px 1px 1px #2F2F2F;
}
.enter-course-text {
  color: white;
  text-shadow: 1px 1px 1px #2F2F2F;
  font-size: 20pt;
}
.course-search-show {
  max-width: 450px;
}
.clear {
  clear: both;
}
.ui-autocomplete-loading {
  // background: url('logo.png');
}
.feq p {
  font-size: 15pt;
  line-height: 30px;
}
.autocomplete-suggestions { border: 1px solid #DEDEDE; border-top:none; background: #FFF; overflow: auto; direction: ltr; border-radius: 0 0 5px 5px; margin-top: -5px}
.autocomplete-suggestion { padding: 7px 8px; white-space: nowrap; overflow: auto; color: #525252; font-size:16px; }
.autocomplete-selected { background: #EBEBEB; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.autocomplete-no-suggestion {padding: 7px 8px; white-space: nowrap; overflow: hidden; color: #525252; font-size:16px; direction: rtl}

@media only screen and (max-width: 320px) {

   .credit span {
    font-size: 10pt;
   }
   .enter-course-text {
    font-size: 15pt;
   }
   #courseSearch {
    font-size: 12pt;
   }
   .autocomplete-suggestion {
    font-size: 11pt;
   }

}