<div class="row">
  <div class="col-md-12">
    <h2>رفع ملف</h2>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
		<div role="tabpanel">
		  <%= content_tag(:ul, class: "nav nav-tabs", role: "tablist") do
		   %>
		    <% type_list.each do |name, value| 
		      %>
			      <%= content_tag(:li, class: ('active' if params[:element_type]==value)) do
			       %>
		        <%= link_to name, new_document_path(value) %>
		      <% end %>
		    <% end %>
		  <% end %>
		</div>