<div class="modal fade" id="showDocumentInfo" role="dialog">
<%= hidden_field_tag :document_id, params[:document_id] %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">تفاصيل الملف</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">أغلاق</button>
      </div>
    </div>
  </div>
</div>