<div class="row">
<div class="col-sm-12 text-center preview-file pull-left"></div>
</div>
<%= form_for Attachment.new, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group required upload-form-group">
    <%= f.label :attachment_id, class:"control-label col-sm-2" %>
    <div class="col-sm-8 upload-document">
      <%= f.label :file do
       %>
       <span type="button" class="btn btn-success fileinput-button">
        اخر الملف
       </span>
        <p class="help-block">يتوجب ان يكون الملف بصيغة PDF</p>
       <%= f.file_field :file, accept: "application/pdf" %>
    </div>
  </div>
  <% end %>
<% end %>
<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
      <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 0%;min-width:2em"></div>
    </div>
  </div>
</script