<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : t(:site_name) %></title>
  <%= stylesheet_link_tag    'application', 'bootstrap-rtl.min.css', 'select2-bootstrap.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta property="og:image" content="<%= image_url('preview-img.jpg') %>" />
  <% if Rails.env.production? %>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-26790925-4', 'auto');
    ga('send', 'pageview');
  </script>
  <% end %>
</head>
<body>
  <% unless current_page?(root_path) %>
  <div class="navbar navbar-static-top container">
    <div class="navbar-brand text-center">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', height: 33 %>
      <% end %>
    </div>
  </div>
  <% end %>
  <% if current_page?(root_path) || current_page?(controller: 'errors', action: 'not_found') %>
    <%= flash_messages %>
    <%= yield %>
  <% else %>    
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
  <% end %>
</body>
</html>
